
@{
    ViewBag.Title = "Index";
}

<h2 class="text-danger">Access Denied.</h2>
<p class="text-danger">You cannot access other users account.</p>


<a href="/Account/Login">Click here </a> to go to login page