@{
    ViewBag.Title = "Task Status Tracker";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Task Status Tracker
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>