
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
 
/*custom CSS*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
}
    
    select#Added_Participants {
        /*width: 263px;*/
    }
    #txtComments{
        width:100% ;
         max-width:none;
    }
    .drpdwn{
        display:inline-block;
       
    }

    .left {
        width: 280px;
    }
    ul.multiselect-container {
    width: 90%;
    margin: 2px 13px 0;
}

    .multiselect{
        width:100%;
    }
      
    .table-custom{
            background-color: #fcf8e3;
    border-radius: 20px;
    }
    #print_icon{
        height:50px;
        width:50px;
    }
      select#Added_Participants {
        /*width: 263px;*/
    }

    .left {
        width: 280px;
    }

    Label.required:after {
        content:"*";
        color:red;
    }
.input-validation-error
{
    border: solid 1px  #ee2929;
}
    .datepicker{
        z-index:1200 !important;
    }

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -195px; /*set to a negative number 1/2 of your height*/
    margin-left: -164px; /*set to a negative number 1/2 of your width*/
    height: auto;
    width: 328px;
    /*margin: 0 auto 25px;*/
    padding: 4px;
    border: 0px solid;
    border-radius: 5px 5px 5px 5px;
    behavior: url(/Styles/ie-css3.htc);
    background: rgba(226, 226, 226, 0.7) none repeat scroll 0 0;
    box-shadow: 0px 4px 10px 1px #757070;
    -webkit-box-shadow: 0px 4px 10px 1px #757070;
    -moz-box-shadow: 0px 4px 10px 1px #757070;
    -o-box-shadow: 0px 4px 10px 1px #757070;
}
th {
    background-color: #337AB7;
    color: white;
}
.login-form_header {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    -moz-box-sizing: border-box;
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    font-size: 17px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    transition: width 0.6s ease 0s;
    border-radius: 5px 5px 0px 0px;
    border: 0px solid;
}

    .login-form_header p {
        margin-bottom: 0px;
        margin-top: 0;
    }

.login-form img {
    height: 130px;
    margin-top: 8px;
    width: 130px;
}

.img-thumbnail {
    border: 1px solid #83a4b5;
}

.login-form input[type="text"], .login-form input[type="email"], .login-form input[type="password"] {
    /*font-size: 16px;*/
    height: 40px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #0A1E2C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px #C4CBCF;
}

.navbar .divider-vertical {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
    height: 40px;
    margin: 0 9px;
}

.navbar-inverse .divider-vertical {
    border-left-color: #111111;
    border-right-color: #222222;
}

.navbar-nav {
    font-size: 13px;
}

.navbar-header {
    padding-left: 4px;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-nav > li > .dropdown-menu {
    font-size: 13px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #353535;
    color: white;
}

.pagination {
    margin: 6px 0;
}

.modal-header {
    background-color: rgba(125, 125, 125, 0.15);
    border-radius:0;
    cursor: move;

}

/*.modal-content {
    width: 600px !important;
    /*margin: 30px auto !important;*/
    /*margin-left: -164px;
    margin-top: -195px;
    position: fixed;
    top: 5%;
    height: auto;
    left: 20%;
    right: 25%;
}*/

.mms-footer-bar {
    background: #222222 none repeat scroll 0 0;
    position: fixed;
    bottom: 0;
    left:0px;
    height: 35px;
    width: 100%;
    border-top: 1px solid #969696;
    overflow: hidden;
}

.footer-content {
    color: #C1C1C1;
    padding-top: 18px;
    font-size: .85em;
    white-space: nowrap;
    line-height: 0;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.checkbox {
    display: inline-table;
    font-weight: unset;
}

.field-validation-error {
    color: purple;
    font-size: 12px;
    margin-top: -10px;
}

.validation-summary-errors {
    color: purple;
    font-size: 12px;
}

.body-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
}

.left-sub-menu-link {
    font-size: 13px;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    width: 222px;
}

    .left-sub-menu-link a:hover {
        color: white;
        background-color: #4E4E4E;
    }

.left-sub-menu-icon {
    margin-left: -27px;
}

.alert {
    padding: 8px;
}


a:hover
{
    cursor:pointer;
}

.statusup {
    margin:20px 0;
    background:#ccc;
}

.statusup h3 {
    font-size:20px;
    margin-bottom:0;
    margin-top:0;
    padding:10px;

}

/* aUTOcOMPLETE */
.ui-autocomplete {
    height:300px !important;
    overflow:scroll;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}
  .ui-state-hover,.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
     
}

   #meetingSearchFrm .input-group-addon:first-child {
    border-right: 1px solid #ccc;
    border-radius: 3px;
}
 #meetingSearchFrm input[type=radio]:nth-child(2) {
    margin-left: 10px;
}
 #meetingSearchFrm input[type=radio] {
    margin: 5px auto;
}

 #meetingSearchFrm .radioSelections{
     margin:0  70px;
 }

 /*Textarea*/

 /*textarea.form-control{
     height:auto;
     width:300px !important;
 }*/


 .task{
     border:1px solid #ccc;
     border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding:10px;
    height:88px;
    overflow-y:scroll;
    overflow-x:hidden;
 }

 #modal-header:last-of-type{
     margin-bottom:20px;
 }

 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
     vertical-align:middle;
 } 

 .result_grid a,#grid-show-result a{
     display:inline-block;
     white-space: pre-wrap;
    text-align: left;
       font-size: 13px;
    text-transform: capitalize;
 }
 #grid-show-result a{
     color:#333;
 }
tr.re-opened{
     background-color:#f2e9ff;
 }


.ui-dialog {
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
    padding:15px !important;   
}

#divAddComment{
    padding:0 15px !important;
}

.comment {   padding: 5px 10px;  margin-bottom: 10px; }

.btnaddcmt{   margin-top: 10px; margin-right: 10px;}



.chat-body {border-bottom: 1px dotted #B3A9A9 ;}
 
.bs-callout.bs-callout-left {
    border-left-color: #1b809e;
}
.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  
}

.bs-callout.bs-callout-right {
    border-right-color: #1b809e;
    border-right-width: 5px;
    border-left-width: 1px;
    
}

.bs-callout p {margin-bottom:0;  }

.rightbox { width: 100%;    float: right;    text-align: right; }

.input-group .form-control {
   z-index: 0 !important;
  }

.wait,.participant_wait{
        z-index: 999;
    margin-top: 26px;
    position: absolute;
    margin-left: 82px;
    display:none;
}


 @media only print{
         .table>tbody>tr>td {
         border:0px !important;
         padding:4px 0px;
        }
           .table-custom{
           border:1px solid #fcf8e3;
           border-radius: 20px;
         }   
        
    }

