
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="background-color: #fff; width:600px; height:auto;">
        <p>Hi {0},<p>
        <p>The following comment has been added</p>
        <table>
            <tr><td>Task Is</td><td>:{4}</td></tr>
            <tr><td>Comment Added</td><td>:{5}</td></tr>
            <tr><td>Assigned By</td><td>:{0}</td></tr>
            <tr><td>CommentedBy</td><td>:{2}</td></tr>
            <tr><td>Commented On</td><td>:{3}</td></tr>
           
        </table>
    </div>
</body>
</html>
