@model MMS.Models.MMS_Meeting_Category

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-header" id="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Delete Category</b>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="modal-body">
                Are you sure you want to delete <b>@Html.DisplayFor(model => model.CategoryName)</b>?
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <input type="submit" class="btn btn-danger" value="Yes" />
    </div>
}
